[ req ]
prompt = no
default_bits = 4096
distinguished_name = req_distinguished_name
req_extensions = req_ext

[ req_distinguished_name ]
countryName=US
stateOrProvinceName=California
localityName=San Francisco
0.organizationName=MarkMonitor, Inc.
organizationalUnitName=DevOps
commonName=$fqdn
emailAddress=mmdevops@markmonitor.com

[ req_ext ]
subjectAltName = @alt_names

[alt_names]
DNS.1 = $fqdn
DNS.2 = *.$fqdn
